<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h2 style="margin-bottom:20px; text-align: center;">List image</h2>
<ul class="mdc-image-list my-image-list" style="display:table-cell; vertical-align:middle; text-align:center">

    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="Screenshot from 2022-08-18 20-33-41.png" style="height: 150px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Ảnh 1</span>

        </div>
    </li>

    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="Screenshot from 2022-08-21 20-22-15.png" style="height: 150px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Ảnh 1</span>

        </div>
    </li>
    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="Screenshot from 2022-08-22 21-09-46.png" style="height: 150px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Ảnh 1</span>

        </div>
    </li>
    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="Screenshot from 2022-08-31 16-23-45.png" style="height: 150px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Ảnh 1</span>

        </div>
    </li>
</ul>
</body>
</html>